.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  padding: 0.5rem;
  margin-left: 1rem;
  background-color: #fee2e2;
}
body {
  background-color: #ddd6fe;
}
ul {
  list-style: none;
}
